/.nb-gradle/
/build/
production/
build.log
/.gradle/
/src/main/java/de/saar/coli/amrtagging/AMToolsVersion.java
.nb-gradle-properties
.idea/codeStyles/codeStyleConfig.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries/distributions.xml
.idea/libraries/gradle_wrapper.xml
.idea/libraries/libs.xml
.idea/modules.xml
.idea/uiDesigner.xml
