/.nb-gradle/
/build/
.gradle/5.0/fileChanges/last-build.bin
.gradle/5.0/fileContent/fileContent.lock
.gradle/5.0/fileHashes/fileHashes.bin
.gradle/5.0/fileHashes/fileHashes.lock
.gradle/5.0/gc.properties
.gradle/5.0/javaCompile/javaCompile.lock
.gradle/5.0/taskHistory/taskHistory.bin
.gradle/5.0/taskHistory/taskHistory.lock
.gradle/5.4.1/executionHistory/executionHistory.bin
.gradle/5.4.1/executionHistory/executionHistory.lock
.gradle/5.4.1/fileChanges/last-build.bin
.gradle/5.4.1/fileContent/fileContent.lock
.gradle/5.4.1/fileHashes/fileHashes.bin
.gradle/5.4.1/fileHashes/fileHashes.lock
.gradle/5.4.1/gc.properties
.gradle/5.4.1/javaCompile/classAnalysis.bin
.gradle/5.4.1/javaCompile/javaCompile.lock
.gradle/5.4.1/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
build.log
.gradle/5.0/javaCompile/classAnalysis.bin
.gradle/5.0/javaCompile/taskHistory.bin
.gradle/4.10.2/fileChanges/last-build.bin
.gradle/4.10.2/fileHashes/fileHashes.bin
.gradle/4.10.2/fileHashes/fileHashes.lock
.gradle/4.10.2/gc.properties
