/.nb-gradle/
/build/
production/
build.log
/.gradle/
/src/main/java/de/saar/coli/amrtagging/AMToolsVersion.java
.nb-gradle-properties
.idea/codeStyles/codeStyleConfig.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/encodings.xml
.idea/dictionaries/Jonas.xml
.idea/modules.xml
.idea/libraries/libs.xml
.idea/libraries/gradle_wrapper.xml
.idea/libraries/distributions.xml
/toyParserScores/
/production/
/out/
/outAstar/
/outAstarFull/
.idea/uiDesigner.xml
fullScores.zip
newToyScores.zip
toyParserScores.zip
.idea/libraries/distributions.xml
.idea/libraries/gradle_wrapper.xml
.idea/libraries/libs.xml
.idea/modules.xml
.idea/uiDesigner.xml
out/results_2020-01-29_16.59.47.amconll
out/results_2020-01-29_17.13.43.amconll
out/results_2020-01-29_17.21.01.amconll
out/results_2020-01-29_17.23.17.amconll
out/results_2020-01-29_17.24.36.amconll
outAstar/log_2020-01-29_16.52.44.txt
outAstar/log_2020-01-29_16.56.45.txt
outAstar/log_2020-01-29_17.15.23.txt
outAstar/log_2020-01-29_17.34.04.txt
outAstar/log_2020-01-29_17.38.40.txt
outAstar/results_2020-01-29_16.52.44.amconll
outAstar/results_2020-01-29_16.56.45.amconll
outAstar/results_2020-01-29_17.15.23.amconll
outAstar/results_2020-01-29_17.34.04.amconll
outAstar/results_2020-01-29_17.38.40.amconll
outAstarFull/log_2020-01-29_17.07.34.txt
toyParserScores.zip
toyParserScores/corpus.amconll
toyParserScores/opProbs.txt
toyParserScores/tagProbs.txt
fullScores.zip
newToyScores.zip
out/log_2020-01-29_16.59.47.txt
out/log_2020-01-29_17.13.43.txt
out/log_2020-01-29_17.21.01.txt
out/log_2020-01-29_17.23.17.txt
out/log_2020-01-29_17.24.36.txt
.idea/encodings.xml
.idea/dictionaries/Jonas.xml
.idea_backup/codeStyles/codeStyleConfig.xml
.idea_backup/gradle.xml
.idea_backup/jarRepositories.xml
.idea_backup/libraries/distributions.xml
.idea_backup/libraries/gradle_wrapper.xml
.idea_backup/libraries/libs.xml
.idea_backup/misc.xml
.idea_backup/modules.xml
.idea_backup/uiDesigner.xml
.idea_backup/vcs.xml
.idea_backup/workspace.xml
.nb-gradle-properties_backup
.nb-gradle_backup/private/cache/am-tools-d41d8cd98f00b204e9800998ecf8427e
.nb-gradle_backup/profiles/private/aux-config
.idea/am-tools.iml
.idea/compiler.xml
examples/debugging_example_simplified.sdp
examples/raised_spine_cycles_removed.amconll
examples/raised_spine_cycles_removed_supertagDictionary.txt
temp
.idea/inspectionProfiles/profiles_settings.xml
.idea/runConfigurations.xml
content.tex
examples/english-bidirectional-distsim.tagger
examples/english.conll.4class.distsim.crf.ser.gz
examples/namesDatesNumbers_AlsFixed.corpus
examples/output/dev.zip
examples/output/train.zip
examples/test.sdp
examples/train_pas_small.amconll
examples/train_small.amconll
examples/decomposition_input/dm_out/dev.zip
examples/decomposition_input/dm_out/train.zip
examples/decomposition_input/amr_out/dev.zip
examples/decomposition_input/amr_out/train.zip
examples/decomposition_input/pas_out/dev.zip
examples/decomposition_input/pas_out/train.zip
examples/decomposition_input/psd_out/dev.zip
examples/decomposition_input/psd_out/train.zip
content.tex
test.sdp
train_pas_small.amconll
train_small.amconll
examples/output/train.zip
examples/output/dev.zip
examples/namesDatesNumbers_AlsFixed.corpus
examples/english.conll.4class.distsim.crf.ser.gz
examples/english-bidirectional-distsim.tagger
examples/output/toyGraphbank.txt
examples/output/test.dot
examples/output/test.pdf
examples/output/toyGraphbankOwnFormat.txt
examples/output/parserOut.txt
examples/output/parserOut.sdp
examples/output/toyDM.sdp
